.bg-products {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/207.jpg) center no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    background-size: cover;
    margin-bottom: 10px;
}
.bg-seed {
    width: 450px;
    border-radius: 50%;
}

.bg-seed-block {
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    width: 450px;
    height: 450px;
    border: 5px dotted rgb(255, 255, 255);
    margin-top: 20px;
}

.list-block-coffee{
    padding-top: 20vh;
    padding-bottom: 10vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sort-block{
    width: 300px;
    margin: 20px;
    display: block;
    align-items: center;
    justify-content: center;
}

.sort-title{
    font-weight: 600;
    text-align: center;
    font-size: 5rem;
}

.sort-text {
    display: flex;
    align-items: center;
}

.sort-icon{
    width: 70px;
    height: 70px;
    margin: 10px;
}

img.mountain {
    animation: 3s linear 0s normal none infinite running mountain;
    -webkit-animation: 3s linear 0s normal none infinite running mountain;
}

@keyframes mountain {
    0%,100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

@-webkit-keyframes mountain {
    0%,100% {transform: scale(1);
       
    }

    50% {
         transform: scale(1.2);
    }
}

img.sun {
    animation: 8s linear 0s normal none infinite running sun;
    -webkit-animation: 8s linear 0s normal none infinite running sun;
}

@keyframes sun {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes sun {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.sort-sub{
    font-weight: 400;
    font-size: 1.2rem;
    padding: 10px;
}

.position-sort-btn{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.sort-btn{
    font-weight: 400;
    font-size: 1.2rem;
    padding: 15px 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    transition: all 400ms ease;
}

.sort-btn:hover,
.sort-btn:focus {
    background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1024px) {
    .bg-seed {
        width: 350px;
    }

    .bg-seed-block {
        width: 350px;
        height: 350px;
        margin-top: 20px;
    }
    .sort-block {
        width: 200px;
        margin: 20px;
    }

    .sort-title {
        font-weight: 600;
        font-size: 3rem;
    }

    .sort-icon {
        width: 50px;
        height: 50px;
        margin: 10px;
    }
    .sort-sub {
        font-weight: 300;
        font-size: 1rem;
        padding: 5px;
    }
    .sort-btn {
        font-weight: 400;
        font-size: 1rem;
        padding: 15px 25px;
    }
}

@media screen and (max-width: 600px) {

}


/*===================MODAL====================*/

.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    z-index: 4;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 100ms ease;
    visibility: hidden;
}

.modal.active{
    visibility: visible;
}

.modal__content{
    position: relative;
    padding: 20px;
    border-radius: 50px;
    width: 800px;
    height: fit-content;
    border: 1px solid rgb(255, 255, 255);
}

.modal__content-arabica{
    background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../assets/15.jpg) center no-repeat;
}

.modal__content-robusta{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../assets/306.jpg) center no-repeat;
}

.close-button-block {
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
}

.close-button{
    width: 20px;
    height: 20px;
}
.close-button-block:hover,
.close-button-blockn:focus {
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-title{
    position: absolute;
    font-weight: 600;
    text-align: center;
    font-size: 2rem;
    top:5;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 20px;
    display: block;
    text-shadow: 5px 5px 5px black;
}

.modal-sub {
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 10vh;
    padding: 15px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
}

@media screen and (max-width: 1024px) {
    .modal__content-arabica {
        margin: 30px;
        width: 600px;
        height: fit-content;
    }
    .modal__content-robusta {
        margin: 30px;
        width: 600px;
        height: fit-content;
    }

    .close-button-block {
        width: 30px;
        height: 30px;
        right: 20px;
    }

    .close-button {
        width: 12px;
        height: 12px;
    }
    .modal-title {
        position: absolute;
        font-weight: 600;
        text-align: center;
        font-size: 1.5rem;
    }

    .modal-sub {
        font-weight: 400;
        font-size: 0.8rem;
        margin-top: 10vh;
        padding: 0 20px;
        width: 100%;
    }
}
