.bg {
    background: #1e1e1e;
    width: 100%;
}

/*------HERO------*/

.hero-bg{
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../assets/21.jpg);
    width: 100%;
    height: 130vh;
    top: 0;
    background-size: cover;
    margin-bottom: 10px;
}

.hero {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 26vh;
    padding-bottom: 10vh;
    text-shadow: 5px 5px 5px black;
}

.hero-sub {
    margin: 0 auto;
    padding-bottom: 70px;
    width: 850px;
    font-weight: 500;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 5px 5px 5px black;
}

.hero-btn-align{
    display: flex;
    justify-content: center;
}

.hero-btn{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50px;
    padding: 1rem 1.2rem;
    transition: all 400ms ease;
    font-size: 1rem;
}
.hero-btn:hover {
    background-color: rgba(0, 0, 0, 0.76);
}

/*--------------------MEDIA---------------------*/

@media screen and (max-width: 1024px) {
    .hero-bg {
        height: 140vh;
        margin-bottom: 10px;
    }
    .hero {
        padding-top: 28vh;
        padding-bottom: 50px;
        font-size: 2rem;
    }

    .hero-sub {
        padding-bottom: 50px;
        font-size: 1.2rem;
        padding: 20px;
        width: 90%;
        font-size: 1.2rem;
        font-weight: 400;
        margin-left: 5%;
    }
    .hero-btn {
        padding: 0.8rem 1rem;
        transition: all 400ms ease;
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .bg {
        width: auto;
    }
    .hero-bg {
        height: 140vh;
        margin-bottom: 10px;
    }
    .hero {
        padding-top: 26vh;
        padding-bottom: 60px;
        font-weight: 500;
        font-size: 2rem;
    }

    .hero-sub {
        padding-bottom: 50px;
        font-weight: 400;
        width: 90%;
        font-size: 1rem;
        font-weight: 400;
        margin-left: 5%;
    }

    .hero-btn {
        padding: 0.5rem 0.7rem;
        transition: all 400ms ease;
        font-size: 1rem;
    }
}