@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-white: #fff;
    --color-bg-darck: rgb(32, 20, 13);
    --color-bg-light: rgb(79, 54, 39);
    --color-darck: rgb(21, 20, 20);

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body{
    font-family: 'Roboto Slab', serif;
    background-color: var(--color-bg-light);
    color: var(--color-white);
    line-height: 1.7;
}