.points-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../assets/10.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.points {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 120px;
    font-size: 2rem;
    text-shadow: 5px 5px 5px black;
}

.points-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.points-ul {
    display: block;
    justify-content: center;
    align-items: center;
}

.points-li {
    display: flex;
    padding-bottom: 100px;
}

.points-icon {
    width: 50px;
    height: 50px;
    margin: 20px 50px;
}

.points-img {
    width: 400px;
    height: 400px;
    margin-bottom: 60px;
    border-radius: 20%;
    transform: rotate(-16deg);
    transition: all 400ms ease;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.5);
}

.points-img:hover,
.points-img:focus {
    transform: rotate(0deg);
}

.ing-rotate {
    transform: rotate(16deg);
}

.point-title {
    text-shadow: 6px 6px 6px black;
}

.points-sub {
    padding-top: 10px;
    padding-bottom: 40px;
    width: 300px;
    font-weight: 400;
    font-size: 1rem;
    text-shadow: 5px 5px 5px black;
}

.points-right {
    margin-right: 50px;
}

.points-left {
    margin-left: 70px;
}

.client-title {
    align-items: center;
    text-align: center;
    text-shadow: 6px 6px 6px black;
    margin: 10px 30px;
}

.client-icon {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    transition: all 600ms ease;
}

.client-icon:hover,
.client-icon:focus {
    transform: rotate(1turn);
}

.icon-bg-radius{
    border-radius: 50px;
}

/*--------------------MEDIA---------------------*/

@media screen and (max-width: 1024px) {
    .points-img {
        width: 250px;
        height: 250px;
        margin-bottom: 40px;
    }   
    .points-sub {
        padding-top: 10px;
        padding-bottom: 40px;
        width: 250px;
        font-weight: 400;
        font-size: 0.8rem;
    }
    .points-icon {
        width: 45px;
        height: 45px;
        margin: 20px 40px;
    }   
    .points-right {
        margin-right: 20px;
    }
    .points-left {
        margin-left: 30px;
    }
    .points-li {
        padding-bottom: 40px;
    }
    .points {
        padding-top: 140px;
        padding-bottom: 80px;
        font-size: 1.5rem;
    }
    .client-icon {
        width: 80px;
        height: 80px;
        margin: 10px auto;
    }
    .client-title {
        margin: 5px 30px;
    }
}

@media screen and (max-width: 600px) {
    .points-img {
        width: 200px;
        height: 200px;
        margin-bottom: 40px;
    }
    .points-sub {
        width: 200px;
        font-weight: 400;
        font-size: 0.5rem;
    }

    .points-icon {
        width: 40px;
        height: 40px;
        margin: 20px 30px;
    }
    .points-right {
        margin-right: 0;
    }

    .points-left {
        margin-left: 0;
    }
    .points-li {
        padding-bottom: 10px;
    }
    .points {
        padding-top: 90px;
        padding-bottom: 20px;
        font-size: 1rem;
    }
    .client-icon {
        width: 60px;
        height: 60px;
        margin: 5px auto;
    }
    .client-title {
        margin: 0 30px;
    }
}